AUTHOR_ID,NLA_ID,CPERSON,MINT_URL,Given_Name,Other_Names,Family_Name,Pref_Name,Honorific,Email,Workphone,Job_Title,GroupID_1,GroupID_2,GroupID_3,ANZSRC_FOR_1,ANZSRC_FOR_2,ANZSRC_FOR_3,ANZSRC_FOR_CAT_1,ANZSRC_FOR_CAT_2,ANZSRC_FOR_CAT_3,ANZSRC_SEO_1,ANZSRC_SEO_2,ANZSRC_SEO_3,ANZSRC_SEO_CAT_1,ANZSRC_SEO_CAT_2,ANZSRC_SEO_CAT_3,URI,NLA_Party_Identifier,ResearcherID,SCOPUS_ID,ORCID,openID,Personal_URI,Personal_Homepage,Staff_Profile_Homepage,Related_Publications,Last_Modified_Date,LDAP_Mapping,Description,PERSON_TYPE,PROJECT_COUNT,TITLE_TEXT,RSD_PUB_PERSON_CODE,SCHOOL_NAME,FACULTY_NAME,PIPE
#set($noLayout = true)
#set($portal = $self.portal)
#if($self.hasResults())
#set($nlaProperty = $systemConfig.getString($defaultOnError, "curation", "nlaIntegration", "pidProperty"))
#foreach($item in $self.result.getResults())
#set($oid = $item.get("id"))
#set($object = $self.getObject($oid))
#set ($nla_id = $object.getMetadata().get($nlaProperty))
#set ($author_id = $item.get("DRO_AUTHOR_ID"))
#set ($cperson = $item.get("ID"))
#if("$!nla_id" != "")
#set( $ID =                             $item.get("ID") )
#set( $Given_Name =                     $item.get("Given_Name") )
#set( $Other_Names =                    $item.get("Other_Names") )
#set( $Family_Name =                    $item.get("Family_Name") )
#set( $Pref_Name =                      $item.get("Pref_Name") )
#set( $Honorific =                      $item.get("Honorific") )
#set( $Email =                          $item.get("Email") )
#set( $Workphone =                      $item.get("Workphone") )
#set( $Job_Title =                      $item.get("Job_Title") )
#set( $GroupID_1 =                      $item.get("GroupID_1") )
#set( $GroupID_2 =                      $item.get("GroupID_2") )
#set( $GroupID_3 =                      $item.get("GroupID_3") )
#set( $ANZSRC_FOR_1 =                   $item.get("ANZSRC_FOR_1") )
#set( $ANZSRC_FOR_2 =                   $item.get("ANZSRC_FOR_2") )
#set( $ANZSRC_FOR_3 =                   $item.get("ANZSRC_FOR_3") )
#set( $ANZSRC_FOR_CAT_1 =               $item.get("ANZSRC_FOR_CAT_1") )
#set( $ANZSRC_FOR_CAT_2 =               $item.get("ANZSRC_FOR_CAT_2") )
#set( $ANZSRC_FOR_CAT_3 =               $item.get("ANZSRC_FOR_CAT_3") )
#set( $ANZSRC_SEO_1 =                   $item.get("ANZSRC_SEO_1") )
#set( $ANZSRC_SEO_2 =                   $item.get("ANZSRC_SEO_2") )
#set( $ANZSRC_SEO_3 =                   $item.get("ANZSRC_SEO_3") )
#set( $ANZSRC_SEO_CAT_1 =               $item.get("ANZSRC_SEO_CAT_1") )
#set( $ANZSRC_SEO_CAT_2 =               $item.get("ANZSRC_SEO_CAT_2") )
#set( $ANZSRC_SEO_CAT_3 =               $item.get("ANZSRC_SEO_CAT_3") )
#set( $URI =                            $item.get("URI") )
#set( $NLA_Party_Identifier =           $item.get("NLA_Party_Identifier") )
#set( $ResearcherID =                   $item.get("ResearcherID") )
#set( $SCOPUS_ID =                      $item.get("SCOPUS_ID") )
#set( $ORCID =                          $item.get("ORCID") )
#set( $openID =                         $item.get("openID") )
#set( $Personal_URI =                   $item.get("Personal_URI") )
#set( $Personal_Homepage =              $item.get("Personal_Homepage") )
#set( $Staff_Profile_Homepage =         $item.get("Staff_Profile_Homepage") )
#set( $Related_Publications =           $item.get("Related_Publications") )
#set( $Last_Modified_Date =             $item.get("Last_Modified_Date") )
#set( $LDAP_Mapping =                   $item.get("LDAP_Mapping") )
#set( $Description =                    $item.get("Description") )
#set( $PERSON_TYPE =                    $item.get("PERSON_TYPE") )
#set( $PROJECT_COUNT =                  $item.get("PROJECT_COUNT") )
#set( $TITLE_TEXT =                     $item.get("TITLE_TEXT") )
#set( $RSD_PUB_PERSON_CODE =            $item.get("RSD_PUB_PERSON_CODE") )
#set( $SCHOOL_NAME =                    $item.get("SCHOOL_NAME") )
#set( $FACULTY_NAME =                   $item.get("FACULTY_NAME") )
#set( $PIPE =                           $item.get("PIPE") )
$author_id,$nla_id,$cperson,${urlBase}$portal.name/detail/$oid,$Given_Name,$Other_Names,$Family_Name,$Pref_Name,$Honorific,$Email,$Workphone,$Job_Title,$GroupID_1,$GroupID_2,$GroupID_3,$ANZSRC_FOR_1,$ANZSRC_FOR_2,$ANZSRC_FOR_3,$ANZSRC_FOR_CAT_1,$ANZSRC_FOR_CAT_2,$ANZSRC_FOR_CAT_3,$ANZSRC_SEO_1,$ANZSRC_SEO_2,$ANZSRC_SEO_3,$ANZSRC_SEO_CAT_1,$ANZSRC_SEO_CAT_2,$ANZSRC_SEO_CAT_3,$URI,$NLA_Party_Identifier,$ResearcherID,$SCOPUS_ID,$ORCID,$openID,$Personal_URI,$Personal_Homepage,$Staff_Profile_Homepage,$Related_Publications,$Last_Modified_Date,$LDAP_Mapping,$Description,$PERSON_TYPE,$PROJECT_COUNT,$TITLE_TEXT,$RSD_PUB_PERSON_CODE,$SCHOOL_NAME,$FACULTY_NAME,$PIPE
#end
#end
#end
